* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

#quadra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c9d6ff;
    border-radius: 50px;
}

p {
    margin-right: 800px;

}

button {
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: #FC8EAC;
    color: grey;
}